@import 'variables';

@mixin row--display {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  gap: 1rem;
}

@mixin text--display-no-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:host {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  background-color: job-card("bg-c");

  transition: $transition-global;

  .job-card {
    width: 100%; // This is critical: the block must fill the host
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0.5rem;

    gap: 0.5rem;

    &__icon {
      color: job-card("icon-c");

      &--in-button {
        margin-right: 0.2rem;
        color: inherit;
      }
    }

    &__header {
      @include row--display;
    }

    &__title {
      @include text--display-no-overflow;

      font-weight: job-card("title-fw");
      color: job-card("title-tc");
      flex: 1 1 auto;
    }

    &__date {
      white-space: nowrap;
      font-size: job-card("date-fs");
      font-weight: job-card("date-fw");
      color: job-card("date-tc");
    }

    &__details {
      @include row--display;
    }

    &__remote {
      @include text--display-no-overflow;
      font-weight: job-card("remote-fw");
      color: job-card("remote-tc");
    }

    &__location {
      @include text--display-no-overflow;
      font-weight: job-card("location-fw");
      color: job-card("location-tc");
    }

    &__body {
      @include row--display;
    }

    &__company {
      @include text--display-no-overflow;
      font-weight: job-card("company-fw");
      color: job-card("company-tc");
      flex: 1;
    }

    &__salary {
      @include text--display-no-overflow;

      &--visible {
        font-weight: job-card("salary-visible-fw");
        color: job-card("salary-visible-tc");
      }

      &--hidden {
        font-weight: job-card("salary-hidden-fw");
        color: job-card("salary-hidden-tc");
      }
    }

    &__footer {
      @include row--display;
      border-top: job-card("footer-border");
      padding-top: 0.5rem;
    }

    &__source {
      flex: 1;
      display: flex;
      flex-direction: row;
      gap: 0.2rem;
    }

    &__source-logo {
      width: 1rem;
      height: 1rem;
      flex-shrink: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      img, i, svg {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }

    &__source-link {
      @include text--display-no-overflow;
      color: job-card("link-tc");
      font-size: job-card("link-fs");

      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &__apply-button {
      flex-shrink: 0;
      border-radius: job-card("apply-btn-radius");
      background: job-card("apply-btn-bg-c-normal");
      color: job-card("apply-btn-tc-normal");
      transition: $transition-global;
      border-color: transparent;
      cursor: pointer;

      &:hover {
        background: job-card("apply-btn-bg-c-hover");
        color: job-card("apply-btn-tc-hover");
      }

      &:active {
        background: job-card("apply-btn-bg-c-active");
        color: job-card("apply-btn-tc-active");
        transform: scale(0.9);
      }
    }
  }
}



