@import 'variables';

:host {
  .job-item {
    height: $job-card--height;

    border: $job-card--border;
    box-shadow: $job-card--box-shadow;
    border-radius: $job-card--border-radius;
    background-color: $job-card--bg-color;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0.5rem 0.75rem 0.0rem;

    transition: box-shadow 0.2s, transform 0.2s;
  }

  .row {
    flex: 1 1 auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    width: 100%;
    overflow: hidden;

    &-with-border {
      border-bottom: $job-card--border-bottom;
    }
  }

  ::ng-deep {
    i {
      margin-right: 0.2rem;
      color: $job-card--text-icon-color;
    }
  }

  .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: $job-card--font-weight-non-important;

    margin: 0;

    &-extra-info {
      color: $job-card--text-color-secondary;
    }
  }

  #title {
    flex: 1;
    color: $job-card--text-color-main;
    font-weight: $job-card--font-weight-main;
  }

  #date {
    font-size: 0.8rem;
    color: $job-card--text-color-secondary;
  }


  #company-name {
    flex: 1;
    color: $job-card--text-color-secondary;
    font-weight: $job-card--font-weight-secondary;
  }

  #salary {
    &.visible {
      color: $job-card--text-color-salary-visible;
      font-weight: $job-card--font-weight-secondary;
    }

    &.hidden {
      color: $job-card--text-color-salary-hidden;
      font-weight: $job-card--font-weight-non-important;
    }
  }

  #website-link {
    color: $job-card--text-color-website-link;
    font-size: $job-card--font-size-website-link;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .website-metadata {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
  }

  .website-logo {
    width: 1rem; // Fixed width
    height: 1rem; // Fixed height to define the "box"
    flex-shrink: 0; // Prevents the icon from being squashed by long text

    display: flex;
    align-items: center;
    justify-content: center;

    img, i, svg {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain; // Ensures the image maintains its ratio inside the 1rem box
    }
  }

  ::ng-deep .apply-button .p-button {
    border-radius: $job-card--apply-button-border-radius;
    background: transparent;
    border-color: transparent;
    color: $job-card--apply-button-color;
    box-shadow: none;
    transition: all 0.2s ease;

    &:hover {
      background: $job-card--apply-button-color;
      color: white;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}



