@import 'variables';

@mixin row--display {
  flex: 1 1 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: 1rem;
}

@mixin text--display-no-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:host {
  height: 9rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  background-color: $job-card-background-color;

  display: flex;
  align-items: flex-start;
  flex-direction: column;

  transition: $transition-global;

  .job-card {
    &__icon {
      margin-right: 0.2rem;
      color: $job-card--icon--text-color;

      &--in-button {
        margin-right: 0;
        color: inherit;
      }
    }

    &__header {
      @include row--display;

      padding-left: 0.5rem;
      padding-right: 0.5rem;
      padding-top: 0.5rem;
    }

    &__title {
      @include text--display-no-overflow;

      font-weight: $job-card--title--font-weight;
      color: $job-card--title--text-color;
      flex: 1 1 auto;
    }

    &__date {
      @include text--display-no-overflow;

      font-size: $job-card--date--font-size;
      font-weight: $job-card--date--font-weight;
      color: $job-card--date--text-color;
    }

    &__details {
      @include row--display;

      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    &__remote {
      @include text--display-no-overflow;

      font-weight: $job-card--remote--font-weight;
      color: $job-card--remote--text-color;
    }

    &__location {
      @include text--display-no-overflow;

      font-weight: $job-card--location--font-weight;
      color: $job-card--location--text-color;
    }

    &__body {
      @include row--display;

      padding-left: 0.5rem;
      padding-right: 0.5rem;

      border-bottom: $job-card--body--border-bottom;
    }

    &__company {
      @include text--display-no-overflow;

      font-weight: $job-card--company--font-weight;
      color: $job-card--company--text-color;
      flex: 1;
    }

    &__salary {
      @include text--display-no-overflow;

      &--visible {
        font-weight: $job-card--salary--visible--font-weight;
        color: $job-card--salary--visible--text-color;
      }

      &--hidden {
        font-weight: $job-card--salary--hidden--font-weight;
        color: $job-card--salary--hidden--text-color;
      }
    }

    &__footer {
      @include row--display;

      // no padding-right because of the apply button at the right corner
      padding-left: 0.5rem;
      padding-bottom: 0.2rem;
    }

    &__source {
      flex: 1;
      display: flex;
      flex-direction: row;
      gap: 0.2rem;
    }

    &__source-logo {
      width: 1rem;
      height: 1rem;
      flex-shrink: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      img, i, svg {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }

    &__source-link {
      @include text--display-no-overflow;
      color: $job-card--link--text-color;
      font-size: $job-card--link--font-size;

      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &__apply-button {
      flex-shrink: 0;
      border-radius: $job-card--apply-button--border-radius;
      background: $job-card--apply-button--normal--background-color;
      color: $job-card--apply-button--normal--text-color;
      transition: $transition-global;
      border-color: transparent;

      &:hover {
        background: $job-card--apply-button--hover--background-color;
        color: $job-card--apply-button--hover--text-color;
      }

      &:active {
        background: $job-card--apply-button--active--background-color;
        color: $job-card--apply-button--active--text-color;
        transform: scale(0.9);
      }
    }
  }
}



