@import 'job-variables';

%row {
  width: 100%;
  height: 1.5rem;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  gap: 1rem;
}

%truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%default-text {
  font-size: $card--fs;
  font-weight: $card--fw;
  color: $card--tc;
}

%tag {
  border-radius: $card--tag-radius;
  background-color: $card--tag-remote-bg-c;
  padding-top: 0.2rem;
  padding-right: 0.4rem;
  padding-bottom: 0.2rem;
  padding-left: 0.4rem;
}

:host {
  height: $card--height;
  flex-shrink: 0;

  box-shadow: $card--shadow;
  border-radius: $card--radius;
  background-color: $card--bg-c;
  transition: $transition-global;

  &:hover {
    box-shadow: $card--shadow-hover;
  }

  .job-card {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;

    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    gap: 0.5rem;

    &__icon {
      color: $card--icon-c;

      &--in-title {
        color: inherit;
      }
    }

    //---------------
    &__header {
      @extend %row;
    }

    &__title {
      @extend %truncate;
      color: $card--title-tc;

      flex: 1 1 auto;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &__salary {
      white-space: nowrap;
      @extend %default-text;

      &--visible {
        color: $card--salary-visible-tc;
      }
    }

    //---------------
    &__body {
      @extend %row;
    }

    &__company {
      @extend %truncate;
      @extend %default-text;
    }

    &__location {
      @extend %truncate;
      @extend %default-text;
    }

    //---------------
    &__details {
      @extend %row;
      gap: 0.2rem;
    }

    &__remote {
      @extend %truncate;
      @extend %default-text;
      @extend %tag;
    }

    //---------------
    &__footer {
      @extend %row;
      border-top: $card--footer-border;
      padding-top: 0.25rem;
    }

    &__source {
      flex: 1;
      display: flex;
      flex-direction: row;
      gap: 0.2rem;
    }

    &__source-logo {
      width: 1rem;
      height: 1rem;
      flex-shrink: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      img, i, svg {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }

    &__source-link {
      @extend %truncate;
      @extend %default-text;
      align-self: center;

      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &__date {
      white-space: nowrap;
      @extend %default-text;
    }
  }
}



