@import 'variables';

%row {
  width: 100%;
  min-height: 1.5rem;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  gap: 1rem;
}

%truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%default-text {
  font-size: job-card("fs");
  font-weight: job-card("fw");
  color: job-card("tc");
}

%tag {
  border-radius: job-card("tag-radius");
  background-color: job-card("tag-remote-bg-c");
  padding-top: 0.2rem;
  padding-right: 0.4rem;
  padding-bottom: 0.2rem;
  padding-left: 0.4rem;
}

:host {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  background-color: job-card("bg-c");

  transition: $transition-global;

  .job-card {
    width: 100%; // This is critical: the block must fill the host
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    gap: 0.5rem;

    &__icon {
      color: job-card("icon-c");

      &--in-title {
        color: inherit;
      }
    }

    //---------------
    &__header {
      @extend %row;
    }

    &__title {
      @extend %truncate;
      color: job-card("title-tc");

      flex: 1 1 auto;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: job-card("title-tc-hover");
      }
    }

    &__salary {
      white-space: nowrap;
      @extend %default-text;

      &--visible {
        color: job-card("salary-visible-tc");
      }
    }

    //---------------
    &__body {
      @extend %row;
    }

    &__company {
      @extend %truncate;
      @extend %default-text;
    }

    &__location {
      @extend %truncate;
      @extend %default-text;
    }

    //---------------
    &__details {
      @extend %row;
      gap: 0.2rem;
    }

    &__remote {
      @extend %truncate;
      @extend %default-text;
      @extend %tag;
    }

    //---------------
    &__footer {
      @extend %row;
      border-top: job-card("footer-border");
      padding-top: 0.25rem;
    }

    &__source {
      flex: 1;
      display: flex;
      flex-direction: row;
      gap: 0.2rem;
    }

    &__source-logo {
      width: 1rem;
      height: 1rem;
      flex-shrink: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      img, i, svg {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }

    &__source-link {
      @extend %truncate;
      @extend %default-text;
      align-self: center;

      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &__date {
      white-space: nowrap;
      @extend %default-text;
    }
  }
}



