:host {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  flex: 1 1 auto;
  min-height: 0;

  .jobs-container {

    display: flex;
    flex-direction: column;
    padding-right: 0.75rem;
    padding-left: 0.75rem;

    gap: 0.25rem;

    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
  }

  /*
    .p-paginator {

    }*/
}
