.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 16px;
  border: 1px solid rgba(255, 255, 255, 0.56);
  border-radius: 6px;

  cursor: pointer;

  background: linear-gradient(90deg, #fcfcff 0%, #c0c0ec 90%);
  background-size: 200% 200%;
  background-position: 0% 50%;

  transition: background-position 0.2s ease;
}

.main-container:hover {
  background-position: 50% 50%;
}

.main-container h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.main-container p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.main-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

