:host {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 0.55rem;
  margin: 0.75rem;

  .search-bar {
    width: 40%;
  }

  ::ng-deep {
    .search-button {

      display: inline-block;
      width: 6rem;

      .p-button {
        width: 100%; // Makes the actual button fill the 300px
      }
    }
  }
}


