@import 'variables';

:host {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  width: 100%;
  background-color: job-search("bg-c");
  border: job-search("border");
  border-radius: job-search("radius");
  box-shadow: job-search("shadow");

  height: 2.5rem;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  padding: 0.25rem;
  gap: 0.25rem;

  &__group {
    flex: 1 1 auto;
    border-radius: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    transition: $transition-global;

    &:focus-within, &:hover {
      background-color: job-search("input-bg-c-focus");
    }
  }

  &__input {
    flex: 1 1 auto;

    background-color: transparent;
    outline: none;
    border-width: 0;
  }

  &__input-icon {
    color: job-search("icon-c");
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }

  &__button-icon {
    font-size: 1.2rem;
  }

  &__button--filters {
    background-color: transparent;
    color: job-search("filter-btn-tc-normal");
    transition: $transition-global;

    border-width: 0;

    cursor: pointer;

    &--panel-visible {
      color: job-search("filter-btn-tc-active");
    }

    &:active {
      transform: scale(0.8);
    }
  }

  &__button--search {
    background-color: job-search("search-btn-bg-c-normal");
    color: job-search("search-btn-tc");
    border-radius: job-search("search-btn-radius");
    transition: $transition-global;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    border-width: 0;
    padding: 0.25rem 0.25rem;

    &:active {
      background-color: job-search("search-btn-bg-c-active");
      transform: scale(0.8);
    }
  }
}
