@import 'variables';

:host {
  flex: 1 1 auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;

  .filter-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: rgba(55, 62, 108, 0.4);
    transition: all 0.2s ease;

    &:hover {
      color: $main-color;
    }

    &:active {
      transform: scale(0.8);
    }

    i {
      font-size: 1.5rem;
    }
  }

  .search-bar {
    width: 40%;
    border-radius: 2rem;
    border-width: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
    background-color: rgb(255, 255, 255);
    border-color: rgba(55, 62, 108, 0.24);
    transition: all 0.2s ease;
    padding: 0.55rem 1rem;
    outline: none;
    color: $text-color-main;
    font-size: 1rem;

    &::placeholder {
      color: $text-color-non-important;
      font-size: 0.9rem;
    }


    /*&:hover, &:focus {
      border-width: 2px;
      border-color: $search-bar-color-active;
    }*/
  }

  ::ng-deep .search-button {
    .p-button {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: all 0.2s ease;

      &:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
      }

      &:active {
        transform: scale(0.9);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
    }
  }
}


