@import 'variables';

:host {
  flex: 1 1 auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;

  .filter-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: $secondary-color;
    transition: all 0.2s ease;

    &:hover {
      color: $main-color;
    }

    &:active {
      transform: scale(0.8);
    }

    i {
      font-size: 1.5rem;
    }
  }

  .search-bar {
    width: 40%;
    border-width: 0;
    border-radius: $search-bar-border-radius;
    box-shadow: $search-bar-box-shadow;
    background-color: $search-bar-bg-color;
    transition: all 0.2s ease;
    padding: 0.55rem 1rem;
    outline: none;
    color: $search-bar-input-color;
    font-size: 1rem;

    &::placeholder {
      color: $search-bar-placeholder-color;
      font-size: 0.9rem;
    }

    &:hover, &:focus {
      box-shadow: $box-shadow-hover;
    }
  }

  ::ng-deep .search-button {
    .p-button {
      background-color: $search-button-bg-color;
      box-shadow: $box-shadow-normal;
      border-radius: $search-bar-border-radius;
      transition: all 0.2s ease;

      &:hover {
        box-shadow: $box-shadow-hover;
      }

      &:active {
        transform: scale(0.9);
        box-shadow: $box-shadow-active;
      }
    }
  }
}


