@import 'variables';

:host {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;

}

.search-form {
  width: 100%;
  background-color: $search-bar--bg-color;
  border: $search-bar--border;
  border-radius: $search-bar--border-radius;
  box-shadow: $search-bar--box-shadow;

  height: 2.5rem;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  padding: 0.25rem;
  gap: 0.25rem;

  &__group {
    flex: 1 1 auto;
    border-radius: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    transition: $global-transition;

    &:focus-within, &:hover {
      background-color: $search-bar--input-color-focus;
    }
  }

  &__input {
    flex: 1 1 auto;

    background-color: transparent;
    outline: none;
    border-width: 0;
  }

  &__input-icon {
    color: $search-bar--icons-color-normal;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }

  &__button-icon {
    font-size: 1.2rem;
  }

  &__button--filters {
    background-color: transparent;
    color: $search-bar--button-icons-color-normal;
    transition: $global-transition;

    border-width: 0;

    cursor: pointer;

    &:hover {
      color: $search-bar--button-icons-color-hover;
    }

    &:active {
      transform: scale(0.8);
    }
  }

  &__button--search {
    background-color: $search-button--bg-color-normal;
    color: $search-button--text-color;
    border-radius: $search-button--border-radius;
    transition: $global-transition;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    border-width: 0;
    padding: 0.25rem 0.25rem;

    &:active {
      background-color: $search-button--bg-color-active;
      transform: scale(0.8);
    }
  }
}
