@import 'variables';

:host {
  flex: 1 1 auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;

  .search-bar {
    width: 40%;
  }

  ::ng-deep {
    .p-inputtext {
      border-radius: 1rem;
      background-color: #e2e8ea;
    }
  }
}


