:host {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 0.25rem;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

