@import 'variables';

:host {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    width: 100%;
    background-color: $search-bar-bg-color;
    border: $search-bar-border;
    border-radius: $search-bar-border-radius;

    height: 2.5rem;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    padding: 0.25rem;
    gap: 0.25rem;
  }

  .form-wrapper {
    flex: 1 1 auto;
    border-radius: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

    &:focus-within, &:hover {
      background-color: $search-bar-input-color-focus;
    }

    input {
      flex: 1 1 auto;
      background-color: transparent;
      outline: none;
      border-width: 0;
    }

    i.form-icon {
      color: $search-bar-icons-color-normal;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  .buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding-right: 0.25rem;
  }

  button {
    background-color: transparent;
    color: $search-bar-button-icons-color-normal;
    border-width: 0;

    cursor: pointer;

    i.button-icon {
      font-size: 1.2rem;
    }

    &:hover {
      color: $search-bar-button-icons-color-hover;
    }
  }
}


