@import 'variables';

:host {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  margin: 0.5rem 0.75rem;
  gap: 0.3rem;

  .search-bar {
    width: 40%;
  }

  .results-text {
    margin-left: auto;
    white-space: nowrap;
    color: $themed-text-color;
    font-weight: $themed-font-weight;
  }
}


