:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  .jobs-scroll-panel {
    flex: 1;
    min-height: 0;

    /*mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 0.35rem,
        black calc(100% - 0.7rem),
        transparent 100%
    );*/

    .jobs-container {
      display: flex;
      flex-direction: column;

      margin-left: 0.75rem;
      margin-right: 0.75rem;

      app-job-item:first-child {
        margin-top: 0.55rem;
      }

      app-job-item:last-child {
        margin-bottom: 0.55rem;
      }
    }
  }

  .paginator-container {
    flex-shrink: 0;
  }
}


