:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  .jobs-scroll-panel {
    flex: 1;
    min-height: 0;

    ::ng-deep .p-scrollpanel-content {
      mask-image: linear-gradient(to bottom, transparent 0%, black 2%);
    }
  }

  .jobs-container {
    display: flex;
    flex-direction: column;

    margin-left: 0.75rem;
    margin-right: 0.75rem;
    gap: 0.5rem;


    :first-child {
      margin-top: 0.5rem;
    }

    :last-child {
      margin-bottom: 0.5rem;
    }
  }

  .paginator-container {
    flex-shrink: 0;
  }
}


