@import 'variables';

:host {
  display: block;
  height: 100%;

  .main-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
  }

  .jobs-container {
    width: 100%;

    flex: 1;
    overflow-y: auto;
    min-height: 0;

    display: flex;
    flex-direction: column;
    align-items: center;


    gap: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 1.5rem;

    mask-image: linear-gradient(to bottom,
      transparent 0%,
      black 2%,
      black 95%,
      transparent 100%
    );
  }

  .job-item {
    min-width: $mobile-width-breakpoint;
    width: 50%;
  }


  ::ng-deep .p-paginator-page {
    font-weight: 600;
    font-family: 'Inter', sans-serif;
  }


  .paginator-container {
    flex-shrink: 0;
    margin-top: -1rem;
  }

  @media (max-width: $mobile-width-breakpoint) {
    .job-item {
      width: 100%;
      min-width: unset;
    }
  }
}


