@import 'variables';

:host {

  --text-color-main: #19252e;
  --text-color-secondary: #2c3e50;
  --text-color-non-important: #6b7f93;
  --text-color-salary-visible: #36d105;
  --text-color-website-link: #688ab1;

  --font-weight-main: 650;
  --font-weight-secondary: 450;
  --font-weight-non-important: 330;

  --font-size-website-link: 0.8rem;

  .job-item-rows {
    height: 9rem;

    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    background-color: #ffffff;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0.5rem 0.75rem 0.2rem;

    transition: box-shadow 0.2s, transform 0.2s;
  }

  .row {
    flex: 1 1 auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    width: 100%;
    overflow: hidden;

    &.with-border {
      border-bottom: 1px solid #e7e8ed;
    }
  }


  ::ng-deep {
    i {
      margin-right: 0.2rem;
      color: #a4aac0;
    }
  }

  .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;

    margin: 0;
  }

  #title {
    flex: 1;
    color: var(--text-color-main);
    font-weight: var(--font-weight-main);
  }

  #date {
    color: var(--text-color-secondary);
    font-weight: var(--font-weight-non-important);
  }

  .text .extra-info {
    color: var(--text-color-secondary);
    font-weight: var(--font-weight-non-important);
  }

  #company-name {
    flex: 1;
    color: var(--text-color-secondary);
    font-weight: var(--font-weight-secondary);
  }

  #salary {
    &.visible {
      color: var(--text-color-salary-visible);
      font-weight: var(--font-weight-secondary);
    }

    &.hidden {
      color: var(--text-color-non-important);
      font-weight: var(--font-weight-non-important);
    }
  }

  #website-link {
    color: var(--text-color-website-link);
    font-size: var(--font-size-website-link);
    font-weight: var(--font-weight-non-important);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .website-metadata {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
  }

  .website-logo {
    width: 1rem; // Fixed width
    height: 1rem; // Fixed height to define the "box"
    flex-shrink: 0; // Prevents the icon from being squashed by long text

    display: flex;
    align-items: center;
    justify-content: center;

    img, i, svg {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain; // Ensures the image maintains its ratio inside the 1rem box
    }
  }

  ::ng-deep .apply-button .p-button {
    background: transparent;
    border-color: transparent;
    color: $main-color;
    box-shadow: none;
    transition: all 0.2s ease;

    &:hover {
      background: $main-color;
      color: white;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}



