@import 'variables';

:host {
  .main-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;

    padding-left: 1rem;
    padding-right: 1rem;

    &:hover {
      background-color: #fffaf1;

      .title-text {
        color: #d95300;
      }
    }

    transition: background-color 0.4s;
  }

  i { // primeNG icons
    margin-right: 0.5rem;
  }

  .top-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    border-bottom: 1px solid #ddd;
  }

  .bottom-container {
    display: flex;
    flex-direction: row;
    gap: 1rem
  }

  .title-text {
    flex: 1;
    text-align: left;

    font-weight: 550;
    color: #333;


    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    transition: color 0.4s;
  }

  .salary-text {
    font-weight: $themed-font-weight;
    text-align: right;
    color: #6dd666;
  }

  .company-text {
    white-space: nowrap;
  }

  .remote-text {
    white-space: nowrap;
  }

  .location-text {
    flex: 1;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .date-text {
    white-space: nowrap;
    font-size: 0.8rem;
    align-content: center;
  }
}



