@import 'variables';

:host {
  .main-container {
    height: 8rem;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;

    display: flex;
    flex-direction: column;

    padding: 1rem;
    gap: 0.5rem;

    &:hover {
      .title-text {
      }

      box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
      transform: translateY(-2px);
    }

    &:active {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      transform: translateY(3px);
    }

    transition: box-shadow 0.2s, transform 0.2s;
  }

  .top-container, .middle-container, .bottom-container {
    flex: 1 1 auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    width: 100%;
    overflow: hidden;
  }

  ::ng-deep {
    i {
      margin-right: 0.2rem;
      color: #ff8484;
    }
  }

  .title-text, .salary-text, .company-text, .remote-text, .location-text, .date-text {
    margin: 0;
  }

  .title-text {
    flex: 1;
    text-align: left;

    font-weight: 700;
    color: #1e293b;


    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    transition: color 0.4s;
  }

  .salary-text {
    font-weight: 550;
    text-align: right;
    color: #3dbc22;
  }

  .company-text {
    white-space: nowrap;
    font-weight: 300;
  }

  .remote-text {
    white-space: nowrap;
    font-weight: 300;
  }

  .location-text {
    flex: 1;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;

    min-width: 0;
  }

  .date-text {
    white-space: nowrap;
    font-size: 0.8rem;
    align-content: center;
    font-weight: 300;

    text-align: right;
  }
}



