:host {

  .main-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;

    padding-left: 1rem;
    padding-right: 1rem;

    &:active {
      transform: scale(0.98);
    }
  }

  i { // primeNG icons
    margin-right: 0.5rem;
  }

  .top-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    border-bottom: 1px solid #ddd;
  }

  .bottom-container {
    display: flex;
    flex-direction: row;
    gap: 1rem
  }

  .title-text {
    flex: 1;
    text-align: left;

    font-weight: 550;
    color: #333;


    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .salary-text {
    text-align: right;
    color: #6dd666;
  }

  .company-text {
    white-space: nowrap;
  }

  .location-text {
    flex: 1;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .date-text {
    white-space: nowrap;
  }
}



