<div class="main-container" (click)="apply()">
  <div class="top-container">
    <p class="title-text">{{ job().title }}</p>
    <p>{{ formattedSalary() }}</p>
  </div>
  <div class="bottom-container">
    <p><i class="pi pi-briefcase"></i>{{ job().companyName }}</p>
    <p class="location-text" [title]="job().location">
      <i class="pi pi-map-marker"></i>{{ job().location }}
    </p>
    @if (isPostedToday()) {
      <p>Today</p>
    } @else {
      <p>{{ getPostingDays() }} days ago</p>
    }
  </div>
</div>
