@import 'variables';

:host {
  .main-container {
    height: 8rem;

    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    background-color: #ffffff;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0.5rem 0.75rem 0.2rem;

    transition: box-shadow 0.2s, transform 0.2s;
  }

  .header-container, .job-info-container, .important-container, .interactable-container {
    flex: 1 1 auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    width: 100%;
    overflow: hidden;
  }

  .important-container {
    border-bottom: 1px solid #e7e8ed;
  }

  ::ng-deep {
    i {
      margin-right: 0.2rem;
      color: #a4aac0;
    }
  }

  .title-text, .salary-text, .remote-text, .location-text, .company-text, .website-link, .date-text {
    margin: 0;
  }

  .title-text {
    flex: 1;

    font-weight: 700;
    color: #1e293b;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .salary-text {
    text-align: right;

    &.visible {
      font-weight: 550;
      color: #3dbc22;
    }

    &.hidden {
      font-weight: 300;
      color: #a6a6a6;
    }
  }

  .remote-text, .location-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;

    min-width: 0;
    max-width: 10rem;
  }

  .company-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    flex: 1;
    font-weight: 400;
  }

  .website-metadata {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
  }

  .website-logo {
    width: 1rem; // Fixed width
    height: 1rem; // Fixed height to define the "box"
    flex-shrink: 0; // Prevents the icon from being squashed by long text

    display: flex;
    align-items: center;
    justify-content: center;

    img, i, svg {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain; // Ensures the image maintains its ratio inside the 1rem box
    }
  }

  .website-link {
    white-space: nowrap;
    color: #688ab1;
    text-decoration: none;
    font-size: 0.8rem;
  }

  .date-text {
    white-space: nowrap;
    font-size: 0.8rem;
    align-content: center;
    font-weight: 300;

    text-align: right;
  }

  ::ng-deep .apply-button .p-button {
    background: transparent;
    border-color: transparent;
    color: $main-color;
    box-shadow: none;
    transition: all 0.2s ease;

    &:hover {
      background: $main-color;
      color: #ffffff;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}



