@layer tailwind-base, primeng, tailwind-utilities;

@layer primeng {
  // Filled in by PrimeNG
}

:root {
  --main-font: 'Inter', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  color: var(--p-text-color);
  background: var(--p-surface-0);

  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.p-component {
  font-family: var(--main-font) !important;
}
