@layer tailwind-base, primeng, tailwind-utilities;

@layer primeng {
  // Filled in by PrimeNG
}


*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  color: var(--p-text-color);
  background: var(--p-surface-0);

  font-family: var(--p-font-family); // PrimeNG font family; defined in custom theme preset
  font-size: var(--p-font-size-md);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
