// Color palette (shared)
$primary-color: #ff0000;

// global
$width-breakpoint-mobile: 700px;
$transition-global: all 0.3s ease;
// jobs page
$page-bg-color: #edf2f8;

// top panel
$top-panel--height: 4rem;
$top-panel--border-bottom: 0px solid #c5c6cd;

// logo
$logo--font-size: 1.5rem;
$logo--icon-height: 2rem;
$logo--icon-path: '/logo.svg';
$logo--font-weight-main: 900;
$logo--text-color-main: #4b6781;
$logo--icon-color: $primary-color;
$logo--drop-shadow: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));

// search bar
$job-search-bar--bg-color: #ffffff;
$job-search-bar--border: 0px solid #c5c6cd;
$job-search-bar--border-radius: 2rem;
$job-search-bar--icons-color-normal: #657581;
$job-search-bar--input-color-focus: #e8eaf1;
$job-search-bar--button-icons-color-normal: #657581;
$job-search-bar--button-icons-color-hover: $primary-color;
$job-search-bar--box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

// search button
$job-search-button--bg-color-normal: $primary-color;
$job-search-button--bg-color-active: #c80000;
$job-search-button--text-color: #ffffff;
$job-search-button--border-radius: 2rem;

// filters button
$job-filters-button--bg-color--panel-visible: $primary-color;

// job card
$job-card: (
  bg-c: #ffffff,
  icon-c: #b3b3b3,
  footer-border: 1px solid #e7e8ed,
  //
  title-fw: 700,
  date-fw: 300,
  remote-fw: 500,
  location-fw: 500,
  company-fw: 500,
  salary-visible-fw: 500,
  salary-hidden-fw: 300,
  //
  date-fs: 0.8rem,
  link-fs: 0.8rem,
  //
  title-tc: #19252e,
  date-tc: #19252e,
  remote-tc: #19252e,
  location-tc: #19252e,
  company-tc: #19252e,
  link-tc: #1c5f95,
  salary-visible-tc: #36d105,
  salary-hidden-tc: #a5a5a5,
  //
  apply-btn-radius: 1rem,
  apply-btn-bg-c-normal: transparent,
  apply-btn-bg-c-hover: $primary-color,
  apply-btn-bg-c-active: #c80000,
  apply-btn-tc-normal: $primary-color,
  apply-btn-tc-hover: #ffffff,
  apply-btn-tc-active: #ffffff,
);

@function job-card($key) {
  @return map-get($job-card, $key);
}
