// Color palette (shared)
$primary-color: #ff0000;

// global
$width-breakpoint-mobile: 700px;
$transition-global: all 0.3s ease;
// jobs page
$page-bg-color: #edf2f8;

// top panel
$top-panel--height: 4rem;
$top-panel--border-bottom: 0px solid #c5c6cd;


$logo: (
  fs: 1.5rem,
  fw: 900,
  tc: #4b6781,
  icon-h: 2rem,
  icon-path: '/logo.svg',
  icon-c: $primary-color,
  shadow: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2)),
);

@function logo($key) {
  @return map-get($logo, $key);
}

$job-search: (
  bg-c: #ffffff,
  border: 0px solid #c5c6cd,
  radius: 2rem,
  shadow: 0 10px 20px rgba(0, 0, 0, 0.1),
  icon-c: #657581,
  input-bg-c-focus: #e8eaf1,
  //
  search-btn-bg-c-normal: $primary-color,
  search-btn-bg-c-active: #c80000,
  search-btn-tc: #ffffff,
  search-btn-radius: 2rem,
  //
  filter-btn-tc-normal: #657581,
  filter-btn-tc-visible: $primary-color
);

@function job-search($key) {
  @return map-get($job-search, $key);
}


$job-card: (
  bg-c: #ffffff,
  icon-c: #b3b3b3,
  footer-border: 1px solid #e7e8ed,
  // font weights
  title-fw: 700,
  date-fw: 300,
  remote-fw: 500,
  location-fw: 500,
  company-fw: 500,
  salary-visible-fw: 500,
  salary-hidden-fw: 300,
  // font sizes
  date-fs: 0.8rem,
  link-fs: 0.8rem,
  // text colors
  title-tc: #19252e,
  date-tc: #19252e,
  remote-tc: #19252e,
  location-tc: #19252e,
  company-tc: #19252e,
  link-tc: #1c5f95,
  salary-visible-tc: #36d105,
  salary-hidden-tc: #a5a5a5,
  //
  apply-btn-radius: 1rem,
  apply-btn-bg-c-normal: transparent,
  apply-btn-bg-c-hover: $primary-color,
  apply-btn-bg-c-active: #c80000,
  apply-btn-tc-normal: $primary-color,
  apply-btn-tc-hover: #ffffff,
  apply-btn-tc-active: #ffffff,
);

@function job-card($key) {
  @return map-get($job-card, $key);
}
