// resolution
$mobile-width-breakpoint: 700px;

// jobs page
$page-bg-color: #f5f8fa;

// top panel
$top-panel-color: #e9eef6;
$top-panel-height: 3.5rem;
$top-panel-border-bottom: 1px solid #c5c6cd;

// logo
$logo-font-size: 1.5rem;
$logo-icon-path: '/logo.svg';
$logo-font-weight-main: 700;
$logo-font-weight-secondary: 400;
$logo-text-color-main: #657581;
$logo-text-color-secondary: #657581;
$logo-icon-color: #ff0000;
$logo-text-shadow: 0 4px 8px rgba(0, 0, 0, 0);

// search bar
$search-bar-border: 1px solid #c5c6cd;
$search-bar-border-radius: 1rem;

$search-bar-icons-color-normal: #657581;


$search-bar-bg-color: #ffffff;
$search-bar-input-color-focus: #e8eaf1;

$search-bar-button-icons-color-normal: #657581;
$search-bar-button-icons-color-hover: #ff0000;

$search-bar-placeholder-color: #657581;
$search-bar-input-color: #657581;
$search-bar-filters-button-color: #8b96a3;
$search-bar-box-shadow-normal: 0 0px 1px #c4c8cf;
$search-bar-box-shadow-hover: 0 0px 1px #9a9da6;

// search button
$search-button-bg-color-normal: #ff0000;
$search-button-bg-color-hover: #ff0000;
$search-button-bg-color-active: #e10000;
$search-button-border-radius: 1rem;
$search-button-box-shadow-normal: 0 0px 10px #c4c8cf;
$search-button-box-shadow-hover: 0 0px 10px #9a9da6;
$search-button-box-shadow-active: 0 0px 10px #d4d8df;

// Job item
$job-item-bg-color: #ffffff;
$job-item-apply-button-color: #fd3535;
$job-item-text-color-main: #19252e;
$job-item-text-color-secondary: #395168;
$job-item-text-color-salary-visible: #36d105;
$job-item-text-color-salary-hidden: #a5a5a5;
$job-item-text-color-website-link: #688ab1;
$job-item-text-icon-color: #b3b3b3;

$job-item-border-bottom: 1px solid #e7e8ed;
$job-item-border-radius: 1rem;
$job-item-apply-button-border-radius: 1rem;
$job-item-font-weight-main: 700;
$job-item-font-weight-secondary: 450;
$job-item-font-weight-non-important: 330;
$job-item-font-size-website-link: 0.8rem;
$job-item-box-shadow: 0 10px 20px #d4d8df;



