$mobile-width-breakpoint: 700px;
$main-color: #fd3535;
$secondary-color: #96aec1;

$logo-text-color: #4b6781;
$logo-icon-color: #ff0000;

$text-color-main: #19252e;
$text-color-secondary: #395168;
$text-color-non-important: #6b7f93;
$text-color-salary-visible: #36d105;
$text-color-salary-hidden: #b3b3b3;
$text-color-website-link: #688ab1;

$text-icon-color: #b3b3b3;


$font-weight-logo: 900;
$font-weight-main: 700;
$font-weight-secondary: 450;
$font-weight-non-important: 330;

$font-size-website-link: 0.8rem;


$box-shadow-normal: 0 4px 8px rgba(0, 0, 0, 0.2);
$box-shadow-normal-secondary: 0 4px 8px rgba(0, 0, 0, 0.1);
$box-shadow-hover: 0 6px 12px rgba(0, 0, 0, 0.3);
$box-shadow-active: 0 2px 4px rgba(0, 0, 0, 0.1);

$text-shadow-normal: 0 4px 8px rgba(0, 0, 0, 0.15);

