// Color palette (shared)
$primary-color: #ff0000;
$primary-color--hover: #c80000;
$primary-color--active: #ae0000;

// global
$width-breakpoint-mobile: 700px;
$transition-global: all 0.3s ease;
// jobs page
$page-bg-color: #edf2f8;

// top panel
$top-panel--height: 4rem;
$top-panel--border-bottom: 0px solid #c5c6cd;

// logo
$logo--font-size: 1.5rem;
$logo--icon-height: 2rem;
$logo--icon-path: '/logo.svg';
$logo--font-weight-main: 900;
$logo--text-color-main: #4b6781;
$logo--icon-color: $primary-color;
$logo--drop-shadow: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));

// search bar
$job-search-bar--bg-color: #ffffff;
$job-search-bar--border: 0px solid #c5c6cd;
$job-search-bar--border-radius: 2rem;
$job-search-bar--icons-color-normal: #657581;
$job-search-bar--input-color-focus: #e8eaf1;
$job-search-bar--button-icons-color-normal: #657581;
$job-search-bar--button-icons-color-hover: $primary-color;
$job-search-bar--box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

// search button
$job-search-button--bg-color-normal: $primary-color;
$job-search-button--bg-color-active: #c80000;
$job-search-button--text-color: #ffffff;
$job-search-button--border-radius: 2rem;

// filters button
$job-filters-button--bg-color--panel-visible: $primary-color;

// job card
$job-card-background-color: #ffffff;

$job-card--icon--text-color: #b3b3b3;

$job-card--title--font-weight: 700;
$job-card--title--text-color: #19252e;

$job-card--date--font-size: 0.8rem;
$job-card--date--font-weight: 300;
$job-card--date--text-color: #19252e;

$job-card--remote--font-weight: 500;
$job-card--remote--text-color: #19252e;

$job-card--location--font-weight: 500;
$job-card--location--text-color: #19252e;

$job-card--body--border-bottom: 1px solid #e7e8ed;

$job-card--company--font-weight: 500;
$job-card--company--text-color: #19252e;

$job-card--salary--visible--font-weight: 500;
$job-card--salary--visible--text-color: #36d105;
$job-card--salary--hidden--font-weight: 300;
$job-card--salary--hidden--text-color: #a5a5a5;

$job-card--link--font-size: 0.8rem;
$job-card--link--text-color: #688ab1;

$job-card--apply-button--border-radius: 1rem;
$job-card--apply-button--normal--background-color: transparent;
$job-card--apply-button--normal--text-color: $primary-color;

$job-card--apply-button--hover--background-color: $primary-color;
$job-card--apply-button--hover--text-color: #ffffff;

$job-card--apply-button--active--background-color: $primary-color--active;
$job-card--apply-button--active--text-color: #ffffff;
