$mobile-width-breakpoint: 700px;
$main-color: #fd3535;

$text-color-main: #19252e;
$text-color-secondary: #2c3e50;
$text-color-non-important: #6b7f93;
$text-color-salary-visible: #36d105;
$text-color-website-link: #688ab1;

$font-weight-main: 650;
$font-weight-secondary: 450;
$font-weight-non-important: 330;

$font-size-website-link: 0.8rem;

$search-bar-color-active: #d6d6d6;

