// Color palette (shared)
$primary-color: #06a8ff;

// global
$width-breakpoint-mobile: 700px;
$transition-global: all 0.3s ease;
// jobs page
$page-bg-color: #edf2f8;

// top panel
$top-panel--height: 4rem;
$top-panel--border-bottom: 0px solid #c5c6cd;


$logo: (
  fs: 1.5rem,
  fw: 900,
  tc: #4b6781,
  icon-h: 3rem,
  icon-path: '/logo.svg',
  icon-c: $primary-color,
  shadow: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2)),
);

@function logo($key) {
  @return map-get($logo, $key);
}

$job-search: (
  bg-c: #ffffff,
  border: 0px solid #c5c6cd,
  radius: 2rem,
  shadow: 0 10px 20px rgba(0, 0, 0, 0.1),
  icon-c: #657581,
  input-bg-c-focus: #e8eaf1,
  //
  search-btn-bg-c-normal: $primary-color,
  search-btn-bg-c-active: #c80000,
  search-btn-tc: #ffffff,
  search-btn-radius: 2rem,
  //
  filter-btn-tc-normal: #657581,
  filter-btn-tc-visible: $primary-color
);

@function job-search($key) {
  @return map-get($job-search, $key);
}


$job-board: (
  filters-radius: 0.5rem,
  mask-image: linear-gradient(to bottom,
    transparent 0%,
    black 2%,
    black 95%,
    transparent 100%
  )
);

@function job-board($key) {
  @return map-get($job-board, $key);
}


$job-filters: (
  bg-c: #ffffff,
  radius: 0.5rem,
  tc: #19252e,
  fw: 400,
  shadow: 0 10px 20px rgba(0, 0, 0, 0.15),
  shadow-hover: 0 1px 3px rgba(0, 0, 0, 0.3),
);

@function job-filters($key) {
  @return map-get($job-filters, $key);
}


$job-card: (
  bg-c: #ffffff,
  icon-c: #000000,
  footer-border: 1px solid #e7e8ed,
  fw: 400,
  fs: 0.8rem,
  tc: #19252e,
  title-fw: 500,
  title-tc: #155681,
  salary-visible-tc: #2bb100,
  tag-radius: 1rem,
  tag-remote-bg-c: #ededf3,
  height: 8rem,
  radius: 0.5rem,
  shadow: 0 10px 20px rgba(0, 0, 0, 0.15),
  shadow-hover: 0 1px 3px rgba(0, 0, 0, 0.3),
);

@function job-card($key) {
  @return map-get($job-card, $key);
}
