@import 'job-variables';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .job-board {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    &__scroll {
      flex: 1;
      overflow-y: auto; // Enable scrolling
      min-height: 0;

      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: center;

      gap: 1rem;

      padding-top: 0.75rem;
      padding-bottom: 1.5rem;

      mask-image: $board--mask-image;
    }

    &__filters-container {
      width: 30%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;

      @media (max-width: $width-breakpoint-mobile) {
        display: none;
      }
    }

    &__filters {
      overflow-y: auto;
      position: sticky;
      top: 0;

      height: fit-content;
      max-width: fit-content;
    }

    &__main-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      width: 40%;

      @media (max-width: $width-breakpoint-mobile) {
        width: 100%;
        min-width: unset;
        max-width: unset;
      }
    }

    &__details-container {
      width: 30%;

      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      @media (max-width: $width-breakpoint-mobile) {
        display: none;
      }
    }

    &__card, &__skeleton {
      width: 100%;
      overflow: visible;
    }

    &__skeleton {
      border-radius: $card--radius;
      height: $card--height;
      box-shadow: $card--shadow;
      flex-shrink: 0;

      background-size: 200% 100%;
      animation: shimmer 3.5s infinite linear;

      background-image: linear-gradient(
          90deg,
          $card--bg-c 10%,
          $page--bg-color 50%,
          $card--bg-c 90%
      );

      @keyframes shimmer {
        0% {
          background-position: 200% 0;
        }
        100% {
          background-position: -200% 0;
        }
      }
    }

    &__paginator {
      flex-shrink: 0;
      margin-top: -1rem;
      z-index: 10;

      ::ng-deep .p-paginator-page {
        font-family: 'Inter', sans-serif;
        font-size: 0.8rem;

        &.p-selected {
        }
      }
    }
  }
}


