@import 'variables';

:host {
  display: flex; // Make the component itself flex
  flex-direction: column;
  height: 100%; // Force it to take up available height
  width: 100%;
  overflow: hidden;

  .job-board {
    display: flex;
    flex-direction: column;
    height: 100%; // Fill the host
    width: 100%;

    &__scroll {
      flex: 1; // THIS IS KEY: It tells the scroll area to take all available space
      overflow-y: auto; // Enable scrolling
      min-height: 0;

      display: flex;
      flex-direction: column;
      align-items: center;

      gap: 0.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.75rem;
      padding-bottom: 1.5rem;

      mask-image: linear-gradient(to bottom,
        transparent 0%,
        black 2%,
        black 95%,
        transparent 100%
      );
    }

    &__card, &__skeleton {
      min-width: $width-breakpoint-mobile;
      width: 30%;

      @media (max-width: $width-breakpoint-mobile) {
        width: 100%;
        min-width: unset;
      }
    }

    &__skeleton {
      border-radius: job-card("radius");
      height: job-card("height");
      box-shadow: job-card("shadow");
      flex-shrink: 0;

      background-size: 200% 100%;
      animation: shimmer 3.5s infinite linear;

      background-image: linear-gradient(
          90deg,
          job-card("bg-c") 10%,
          $page-bg-color 50%,
          job-card("bg-c") 90%
      );
      
      @keyframes shimmer {
        0% {
          background-position: 200% 0;
        }
        100% {
          background-position: -200% 0;
        }
      }
    }

    &__paginator {
      flex-shrink: 0;
      margin-top: -1rem;
      z-index: 10;

      ::ng-deep .p-paginator-page {
        font-family: 'Inter', sans-serif;
        font-size: 0.8rem;

        &.p-selected {
        }
      }
    }
  }
}


