@import 'variables';

:host {
  background-color: $page-bg-color;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.top-panel {
  border-bottom: $top-panel--border-bottom;
  height: $top-panel--height;
  flex-shrink: 0;

  display: flex;
  justify-content: space-between;

  &__logo {
    /* flex-grow: 1, flex-shrink: 1, flex-basis: 0 */
    flex: 1 1 0;
    display: flex;
    align-items: center;

    overflow: hidden;
    white-space: nowrap;

    padding-left: 0.5rem;
    gap: 0.2rem;

    @media (max-width: $width-breakpoint-mobile) {
      display: none;
    }
  }

  &__logo-icon {
    height: $logo--icon-height;
    aspect-ratio: 1 / 1;

    background-color: $logo--icon-color;
    mask: url($logo--icon-path) no-repeat center;
    mask-size: contain;
  }

  &__logo-text {
    font-size: $logo--font-size;
    font-weight: $logo--font-weight-main;
    color: $logo--text-color-main;
    filter: $logo--drop-shadow;
  }

  &__search {
    /* Stay fixed at 25%, do not grow, do not shrink */
    flex: 0 0 35%;

    min-width: $width-breakpoint-mobile;

    @media (max-width: $width-breakpoint-mobile) {
      flex: 0 0 100%;
      padding: 0 0.5rem;
      min-width: unset;
    }
  }

  &__actions {
    /* Match the logo: flex-grow: 1, flex-shrink: 1, flex-basis: 0 */
    flex: 1 1 0;
    display: flex;
    justify-content: flex-end;

    @media (max-width: $width-breakpoint-mobile) {
      display: none;
    }
  }
}

.main-panel {
  flex: 1;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: center;

  &__filters {

  }

  &__jobs {
    width: 100%;
  }
}
