@import 'variables';

:host {
  background-color: rgb(244, 244, 244);
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;

  .top-panel {
    background-color: rgb(87, 113, 197);

    height: 3.5rem;
    flex-shrink: 0;
  }

  .bottom-panel {
    flex: 1 1 auto;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .left-container {
    min-width: $mobile-width-breakpoint;
    width: 50%;

    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: hidden;
  }

  .search-panel {
    display: flex;
    flex-direction: row;
    align-items: start;
  }

  @media (max-width: $mobile-width-breakpoint) {
    .left-container {
      width: 100%;
      min-width: unset;
    }
  }
}
