@import 'variables';

:host {
  //background: linear-gradient(to bottom right, #f4fffd, #f2fff1);
  background-color: $page-bg-color;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;

  .top-container {
    border-bottom: $top-panel-border-bottom;
    background-color: $top-panel-color;
    height: $top-panel-height;
    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .bottom-container {
    flex: 1 1 auto;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .buttons-container {
    width: 25%;
    display: flex;
  }

  .logo-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 0.5rem;
    //padding-top: 0.5rem;

    .logo-text {
      display: inline-flex;
      vertical-align: middle;
      font-size: 2rem;
      font-weight: $logo-font-weight-main;
      color: $logo-text-color-main;
      text-shadow: $logo-text-shadow;
    }

    .logo-icon {
      height: 100%;
      aspect-ratio: 1 / 1;

      background-color: $logo-icon-color;
      mask: url($logo-icon-path) no-repeat center;
      mask-size: contain;
    }

    .tagline {
      font-size: 0.8rem;
      font-weight: $logo-font-weight-secondary;
      color: $logo-text-color-secondary;
    }
  }

  .search-panel {
    display: flex;
    min-width: $mobile-width-breakpoint;
    width: 50%;
  }

  .jobs-board-panel {
    width: 100%;
  }

  // todo: fix items alignment on mobile for top panel
  @media (max-width: $mobile-width-breakpoint) {

    // todo: put logo and buttons at the top, search panel at the bottom
    .search-panel {
      width: 100%;
      min-width: unset;
    }
  }
}
