@import 'variables';

:host {
  background-color: #e2e8ea;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;

  .top-container {
    background-color: #324453;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    height: 4rem;
    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .bottom-container {
    flex: 1 1 auto;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .search-panel {
    display: flex;
  }

  .jobs-board-panel, .search-panel {
    min-width: $mobile-width-breakpoint;
    width: 50%;
  }

  @media (max-width: $mobile-width-breakpoint) {
    .jobs-board-panel, .search-panel {
      width: 100%;
      min-width: unset;
    }
  }
}
