@import 'variables';

:host {
  //background: linear-gradient(to bottom right, #f4fffd, #f2fff1);
  background-color: #edf2f8;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;

  .top-container {
    height: 3.5rem;
    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .bottom-container {
    flex: 1 1 auto;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .logo-container {
    width: 25%;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .logo-container, .buttons-container {
    width: 25%;
    display: flex;
  }

  .logo {
    padding-left: 0.5rem;
    font-size: 2rem;
    font-weight: $font-weight-logo;

    #logo-start {
      color: $logo-color-start;
    }

    #logo-end {
      color: $logo-color-end;
    }
  }

  .search-panel {
    display: flex;
    min-width: $mobile-width-breakpoint;
    width: 50%;
  }

  .jobs-board-panel {
    width: 100%;
  }

  @media (max-width: $mobile-width-breakpoint) {

    // todo: put logo and buttons at the top, search panel at the bottom
    .search-panel {
      width: 100%;
      min-width: unset;
    }
  }
}
