:host {
  //background: linear-gradient(90deg, #4a95ad, #4f5fa9);
  background: #ffffff;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;

  gap: 0.25rem;

  .top-panel {
    background-color: rgb(71, 120, 250);
    //backdrop-filter: blur(10px);
   box-shadow: 0 1px 10px 6px rgba(0, 0, 0, 0.3);
    height: 6.5rem;
  }

  .middle-panel {
    flex: 1 1 auto;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-left: 0.75rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;

    gap: 0.75rem;

    .left-container {
      width: 50%;

      display: flex;
      flex-direction: column;
      min-height: 0;
      overflow: hidden;

      .search-panel {
        display: flex;
        flex-direction: row;
        align-items: start;
      }
    }

    .right-container {
      width: 50%;
    }
  }
}
