<div class="top-container">
  <div class="logo-container">
    <div class="logo-text">
      <span>JOBS C</span><i class="logo-icon"></i><span>RE</span>
    </div>
    <div class="tagline">Search for jobs across the platforms</div>
  </div>
  <div class="search-panel">
    <app-search-panel (searchChange)="updateSearchParams($event)"></app-search-panel>
  </div>
  <div class="buttons-container"></div>
</div>
<div class="bottom-container">
  <div class="jobs-board-panel">
    <app-job-items-board [searchParams]="searchParams()"></app-job-items-board>
  </div>
</div>
