@import 'variables';

:host {
  background-color: $page-bg-color;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.top-panel {
  border-bottom: $top-panel-border-bottom;
  height: $top-panel-height;
  flex-shrink: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__logo {
    flex: 1 1 auto;
    width: 25%;
    overflow: hidden;
    white-space: nowrap;

    display: inline-flex;
    justify-content: start;
    align-items: center;

    padding-left: 0.5rem;
    gap: 0.2rem;

    @media (max-width: $mobile-width-breakpoint) {
      display: none;
    }
  }

  &__logo-icon {
    height: $logo-icon-height;
    aspect-ratio: 1 / 1;

    background-color: $logo-icon-color;
    mask: url($logo-icon-path) no-repeat center;
    mask-size: contain;
  }

  &__logo-text {
    font-size: $logo-font-size;
    font-weight: $logo-font-weight-main;
    color: $logo-text-color-main;
    filter: $logo-drop-shadow;
  }

  &__search {
    width: 25%;
    min-width: $mobile-width-breakpoint;

    @media (max-width: $mobile-width-breakpoint) {
      width: 100%;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      min-width: unset;
    }
  }

  &__actions {
    flex: 1 1 auto;
    width: 25%;

    @media (max-width: $mobile-width-breakpoint) {
      display: none;
    }
  }
}

.main-panel {
  flex: 1 1 auto;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: center;

  &__filters {

  }

  &__jobs {
    width: 100%;
  }
}
