<div class="top-panel"></div>
<div class="bottom-panel">
  <div class="left-container">
    <div class="search-panel">
      <app-search-panel (searchChange)="updateSearchParams($event)"
                        (filtersChange)="toggleFilters()">
      </app-search-panel>
      @if (isFiltersShown) {
        <app-filters-dropdown></app-filters-dropdown>
      }
    </div>
    <app-job-items-board [searchParams]="searchParams()"></app-job-items-board>
  </div>
  <div class="right-container"></div>
</div>


