@import 'variables';

:host {
  background-color: $page-bg-color;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;

  .top-panel {
    border-bottom: $top-panel-border-bottom;
    height: $top-panel-height;
    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-panel {
    flex: 1 1 auto;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .logo {
    flex: 1 1 auto;
    width: 25%;

    display: inline-flex;
    justify-content: start;
    align-items: center;

    padding-left: 0.5rem;
    gap: 0.2rem;

    font-size: $logo-font-size;
    font-weight: $logo-font-weight-main;
    color: $logo-text-color-main;
    filter: $logo-drop-shadow;

    i {
      height: $logo-icon-height;
      aspect-ratio: 1 / 1;

      background-color: $logo-icon-color;
      mask: url($logo-icon-path) no-repeat center;
      mask-size: contain;
    }
  }

  .search-panel {
    width: 25%;
    min-width: $mobile-width-breakpoint;
  }

  .top-buttons {
    flex: 1 1 auto;
    width: 25%;
  }

  .jobs-board-panel {
    width: 100%;
  }

  // todo: fix items alignment on mobile for top panel
  @media (max-width: $mobile-width-breakpoint) {

    // todo: put logo and buttons at the top, search panel at the bottom
    .search-panel {
      width: 100%;
      min-width: unset;
    }

    .logo-container {
      display: none;
    }
  }
}
