:host {
  background: linear-gradient(90deg, #625875, #24245a);

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;

  gap: 0.25rem;

  .top-panel {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.1);
    height: 4.5rem;
  }

  .middle-panel {
    flex: 1 1 auto;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.25rem;

    .search-container {
      width: 50%;

      display: flex;
      flex-direction: column;
      min-height: 0;
      overflow: hidden;
      gap: 0.25rem;

    }

    .description-container {
      width: 50%;
      //background-color: #2a2a3a; // temp background
    }
  }

  .bottom-panel {
    //background-color: #2a2a3a; // temp background

    height: 4.5rem;
    flex: 0 0 auto;
  }
}
