:host {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;

  .top-panel {
    background-color: rgb(255, 67, 67);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    height: 3.5rem;
    flex-shrink: 0;
  }

  .bottom-panel {
    flex: 1 1 auto;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: center;

    .left-container {
      width: 50%;

      display: flex;
      flex-direction: column;
      min-height: 0;
      overflow: hidden;

      .search-panel {
        display: flex;
        flex-direction: row;
        align-items: start;
      }

      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    .right-container {
      width: 50%;
    }
  }
}
