name: deploy
on:
  push:
    branches: [ master ]

permissions:
  id-token: write
  contents: read
  
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: '1. Checkout code'
        uses: actions/checkout@v4
        
      - name: '2. Login to Azure'
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          
      - name: '3. Deploy Bicep infrastructure'
        uses: azure/arm-deploy@v2
        with:
          resourceGroupName: ${{ secrets.AZURE_RG }}
          template: ./infra/main.bicep
          parameters: >
            dbPassword=${{ secrets.AZURE_DB_PASSWORD }}
            location=northeurope
            
      - name: '4. Build and push images'
        run: |
          # Get the ACR name from the Bicep output
          CONTAINER_REGISTRY_NAME=$(az deployment group show -g ${{ secrets.AZURE_RG }} -n main --query properties.outputs.containerRegistryName.value -o tsv)

          # Build images in the cloud via ACR Tasks
          az acr build --registry $CONTAINER_REGISTRY_NAME --image jobapi:${{ github.sha }} ./JobSearch.Api
          az acr build --registry $CONTAINER_REGISTRY_NAME --image datascraper:${{ github.sha }} ./JobSearch.DataScraper
          
      - name: '5. Update Container App & Job'
        run: |
          CONTAINER_REGISTRY_NAME=$(az deployment group show -g ${{ secrets.AZURE_RG }} -n main --query properties.outputs.containerRegistryName.value -o tsv)
          
          # Update the API App
          az containerapp update -n job-api -g ${{ secrets.AZURE_RG }} \
          --image $CONTAINER_REGISTRY_NAME.azurecr.io/jobapi:${{ github.sha }}
          
          # Update the Scraper Job
          az containerapp job update -n job-scraper -g ${{ secrets.AZURE_RG }} \
          --image $CONTAINER_REGISTRY_NAME.azurecr.io/datascraper:${{ github.sha }}
            
            